body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    margin-top: 8%;
    margin-bottom: 8%;
    background-color: #f2f2f2;
}

main {
    background-color: #f2f2f2;
}

article.container {
    width: auto;
    margin: auto;
}


.car-container {
    width: 310px;
}

.sedan-container {
    background-color: hsl(31, 77%, 52%);   
    border-radius: 14px 0 0 14px;
}

.suv-container {
    background-color: hsl(184, 100%, 22%);
}

.luxury-container {
    background-color: hsl(179, 100%, 13%);
    border-radius: 0 14px 14px 0;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    border:hsl(0, 0%, 95%) 2px solid;
    transition: ease-in;
    transition-duration: 100ms;
    font-size: 17px;
}

.btn:active {
    opacity: 70%;
}

.car-container .btn:hover {
    background-color: transparent;
    color:hsl(0, 0%, 95%);
}

.sedan-container .btn {
    color:hsl(31, 77%, 52%);
}

.suv-container .btn {
    color:hsl(184, 100%, 22%);
}
.luxury-container .btn {
    color: hsl(179, 100%, 13%);
}

@media screen and (max-width: 991px) {
    .suv-container {
        border-radius: 0 14px 14px 0;
    }
    .luxury-container {
        border-radius: 14px;
    }
}
@media screen and (max-width: 767px) {
    .sedan-container {
        border-radius: 14px 14px 0 0;
    }
    
    .suv-container {
        border-radius: 0;
    }
    .luxury-container {
        border-radius: 0 0 14px 14px;
    }
}