body {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    padding-top: 10%;
    padding-bottom: 10%;
    background-color: #ccc;
}

main.container {
    width: 960px;
    margin: auto;
}

@media screen and (max-width: 960px) {
    main.container {
        width: auto;
    }
}

.sedan-container {
    background-color: hsl(31, 77%, 52%);   
    width: 310px; 
}

.suv-container {
    background-color: hsl(184, 100%, 22%);
    width: 310px;
}

.luxury-container {
    background-color: hsl(179, 100%, 13%);
    width: 310px;
}

h1 {
    font-family: 'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
}

p {
    color: hsla(0, 0%, 100%, 0.75);
}

.btn {
    background-color: hsl(0, 0%, 95%);
    border-radius: 30px;
    border:hsl(0, 0%, 95%) 2px solid;
    transition: ease-in;
    transition-duration: 100ms;
    font-size: 15px;
}

.btn:active {
    opacity: 70%;
}

.sedan-container .btn {
    color:hsl(31, 77%, 52%);
}
.sedan-container .btn:hover {
    background-color:hsl(31, 77%, 52%);
    color:hsl(0, 0%, 95%);
}
.suv-container .btn {
    color:hsl(184, 100%, 22%);
}
.suv-container .btn:hover {
    background-color:hsl(184, 100%, 22%);
    color:hsl(0, 0%, 95%)
}
.luxury-container .btn {
    color: hsl(179, 100%, 13%);
}
.luxury-container .btn:hover {
    color:hsl(0, 0%, 95%);
    background-color: hsl(179, 100%, 13%);
}
